      <div>
    <div class="owl-carousel owl-theme">
        <div><%= image_tag('111.jpg', :alt => "k1" ) %></div>
    <div><%= image_tag('112.png', :alt => "k2" ) %></div>
    <div> <%= image_tag('113.png', :alt => "k3" ) %> </div>
        </div>
        </div>

			<article>
				<section>
						<div class="content crownfon">
							<div id="a4" class="content__header wow fadeIn">Почему лучше выбрать именно нас?</div>
								<div class="mid tac">
									<a href="#modal1"><div class="circle wow zoomInUp">
									<div class="circle__step1">Вы вызываете замерщика указав свой email</div>
                                    </div></a><!--
									
									--><a href="#modal2"><div class="circle wow zoomInUp" data-wow-delay=".3s">
									<div class="circle__step2">Подтверждаете подписку на рассылку новостей</div>
                                    </div></a><!--
									
									--><a href="#modal3"><div class="circle wow zoomInUp" data-wow-delay=".5s">
									<div class="circle__step3">Множество интересных работ</div>
                                    </div></a><!--
									
									--><a href="#modal4"><div class="circle wow zoomInUp">
									<div class="circle__step4">Возможность обговорения деталей через интернет</div>
                                    </div></a><!--
									
									--><a href="#modal5"><div class="circle wow zoomInUp" data-wow-delay=".3s">
									<div class="circle__step5" >Мы работаем, Вы получаете результат</div>
                                    </div></a>
									
								</div>
						</div>
					</section>
					
					<section class="crownfon clearfix">
					<div id="a4" class="content__header__2 wow fadeIn">Кухни</div>
							<div id="mi-slider" class="mi-slider">
								<ul>
									<li>
                                       <%= link_to(post_path(8), class: "no__link") do %>
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('1.jpg', :alt => "img02", :class => 'img__size' ) %>
										</div>
										<div class="img__name">
										Кухня "Ягодка"
										<h1>Стоимость</h1> <h1>от 86 725 р</h1>
										</div>
									</div>
									
									<% end %>
                                    </li>
									<li> <%= link_to(post_path(7), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('2.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Интериум"
										<h1>Стоимость</h1> <h1>от 167 965 р</h1>
										</div>
                                        </div><% end %>
									
									<a href="#" class="no__link">
                                        </li>
									<li> <%= link_to(post_path(6), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                      <%= image_tag('3.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Базальт"
										<h1>Стоимость</h1> <h1>от 88 433 р</h1>
										</div>
									</div>
									
									<% end %></li>
								</ul>
								
<!--
							<ul>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                    <%= image_tag('k1.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Престиж"
										<h1>Стоимость</h1> <h1>100 000р</h1>
										</div>
									</div>
									
									</a></li>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('4.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "ДРС"
										<h1>Стоимость</h1> <h1>120 000р</h1>
										</div>
									</div>
									
									</a></li>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                        <%= image_tag('5.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Венге"
										<h1>Стоимость</h1> <h1>140 000р</h1>
										</div>
									</div>
									
									</a></li>
								</ul>
-->
								
<!--
								<ul>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('6.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "ДУб"
										<h1>Стоимость</h1> <h1>150 000р</h1>
										</div>
									</div>
									
									</a></li>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('7.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Сосна"
										<h1>Стоимость</h1> <h1>120 000р</h1>
										</div>
									</div>
									
									</a></li>
									<li><a href="#" class="no__link">
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('8.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Береза"
										<h1>Стоимость</h1> <h1>130 000р</h1>
										</div>
									</div>
									
									</a></li>
								</ul>
-->
								
								<ul>
									<li> <%= link_to(post_path(5), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('9.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Ладья"
										<h1>Стоимость</h1> <h1>от 90 000 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(4), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('10.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Италия"
										<h1>Стоимость</h1> <h1>от 125 000 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(3), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('11.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Кухня "Венге"
										<h1>Стоимость</h1> <h1>от 130 000р</h1>
										</div>
									</div>
									
									<% end %></li>
								</ul>
								<nav>
									<a href="#" class="no__link">Фруктовые</a>
<!--									<a href="#" class="no__link">Модерн</a>-->
<!--									<a href="#" class="no__link">Древесные</a>-->
									<a href="#" class="no__link">Классика</a>
								</nav>
							</div>
                        <%= link_to(category_path(1), class: "no__link") do %>
								<div class="button__open">
                                Открыть все
                                    </div>
                        <% end %>
					</section>
					
					<section>
								<div class="content none">
							<div class="content__header__3 wow fadeIn">Оформите расслыку, чтобы всегда быть в курсе!</div>
									<div class="header__bottom ">
						<div class="mid clearfix">
							<div class="sub right wow bounceInUp">
									<div class="sub__border-form sub__border-form_footer">
                                        
<!--
								<form action="#" class="sub__form">
									<div class="sub__zag">Оформление рассылки:</div>
									<div><input type="mail" class="sub__mail" placeholder="Введите свой e-mail..."></div>
									<p class="sub__p">И нажмите на кнопку ниже</p>
									<div><input type="submit" class="sub__submit" value="Оформить"></div>
								</form>
-->
      <div class="sub__form">                                  
    <%= form_tag("sends/index", :method => "get") do %>
            <div class="sub__zag">Оформление рассылки:</div>
            <%= email_field_tag(:email, nil, class: 'sub_mail', placeholder: 'Введите почту...') %>
            <p class="sub__p">И нажмите на кнопку ниже</p>
            <%= submit_tag "Оформить", class: 'sub__submit' %>
    <% end %>
                                        </div>
									</div>
							</div>
							<div class="box left wow bounceInUp">
                                <%= image_tag('end.jpg', :alt => "Обложка кухон", :class => 'box__img box__img_footer' ) %>
							</div>
						</div>
					</div>
						</div>
					</section>
					
					<section class="crownfon clearfix">
					<div id="a4" class="content__header__2 wow fadeIn">Шкафы</div>
							<div id="mi-slider2" class="mi-slider">
								<ul>
									<li><%= link_to(post_path(12), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                              <%= image_tag('12.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "Rexar"
										<h1>Стоимость</h1> <h1>от 43 546 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(11), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('13.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "Refal"
										<h1>Стоимость</h1> <h1>от 93 950 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(10), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('14.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "HirectTo"
										<h1>Стоимость</h1> <h1>от 45 385 р</h1>
										</div>
									</div>
									
									<% end %></li>
								</ul>
								
							<ul>
									<li><%= link_to(post_path(9), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                        <%= image_tag('15.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "Roy13"
										<h1>Стоимость</h1> <h1>от 32 785 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(27), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('16.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "Кракен"
										<h1>Стоимость</h1> <h1>от 50 000 р</h1>
										</div>
									</div>
									
									<% end %></li>
									<li><%= link_to(post_path(27), class: "no__link") do %>
									
									<div class="maxsize wow bounceIn">
										<div class="img__div">
                                            <%= image_tag('17.jpg', :alt => "img02" ) %>
										</div>
										<div class="img__name">
										Шкаф "Ноктюрн"
										<h1>Стоимость</h1> <h1>от 60 000 р</h1>
										</div>
									</div>
									
									<% end %></li>
								</ul>
								
								<nav>
									<a href="#" class="no__link">Шкафы-купе</a>
									<a href="#" class="no__link">Шкафы (Классика)</a>
								</nav>
							</div>
                        <%= link_to(category_path(2), class: "no__link") do %>
								<div class="button__open">
                                Открыть все
                                    </div>
                        <% end %>
					</section>
                
                    <section class="crownfon other__info">
                        <div id="a4" class="content__header__2 wow fadeIn">Особенные работы</div>
                            <div class="mid2">
                            <div class="main__block__content clearfix wow bounceInUp">
                                <div class="info__block__content left">
                                    <div class="img__block__content ">
                                <%= image_tag('beess.jpg', :alt => "img02", :class => 'box__img__block' ) %>
                                    <div class="text__block__content">
                                    Бесседка "Ролф": придает внутреннее спокойствие и чувство радости каждое утро
                                    </div>
                                    </div>
                                </div>
                                <div class="rigth__block__content right">
                                    <div class="right__img__block">
                                        <%= image_tag('beess.jpg', :alt => "img02", :class => 'box__img__block__min' ) %>
                                    </div>
                                    <div class="right__text__block">
                                        <p>Данная бесседка обладаем особым шармом и красотой отделки</p>
                                        <p>Стоимость данной бесседки<br>от 130 000 р</p>
                                    </div>    
                                </div>
                            </div>
                         
                
                    <div class="block__other clearfix">
                        	<div class="maxsize__2 wow bounceInUp">
										<div class="img__div">
                                 <%= image_tag('18.jpg', :alt => "img02", :class => 'img__div__size' ) %>
										</div>
										<div class="img__name">
										Веранда "Сосна"
										<h1>Стоимость</h1> <h1>от 80 000 р</h1>
										</div>
									</div>
                        
                            	<div class="maxsize__2 wow bounceInUp">
										<div class="img__div">
                        <%= image_tag('19.jpg', :alt => "img02", :class => 'img__div__size' ) %>
										</div>
										<div class="img__name">
										Баня "4x7m2"
										<h1>Стоимость</h1> <h1>от 180 000 р</h1>
										</div>
									</div>
                                   </div>
                                <% link_to() do %>
                                <div class="button__open">
								Открыть все
								</div>
                                <% end %>
                    </div>
					       </section>
                
                <section class="crownfon">
                       <div id="a4" class="content__header__2 wow fadeIn">мы вконтакте!</div>
                <script type="text/javascript" src="//vk.com/js/api/openapi.js?154"></script>
                <div class="mid">
<div class="pusto wow fadeIn left">
                        <p>
                        Наша группа Вконтакте увеличивается с каждым днем. Если ты хочешь всегда быть в курсе всех событий, то необходимо подписаться на нас.
                        </p>
                        <p>
                        В разделе "Обсуждения" всегда можно задать интересующие Вас вопросы.
                        </p>
                        <p>
                        Каждый день появляется новая мебель, поэтому не забывайте заходить в группу, чтобы выбрать для себя что нибудь новенькое.
                        </p>
                        <p>
                        Желаем приятных покупок.
                        </p>
                    </div>
        <div class="main__block__vk right">
  <div class="block__vk">                  
            <!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 3, width: "320px", height: "300"}, 94768358);
</script>
</div>
                    </div>
 </div>
                </section>
                
				</article>

<!--Модальное окно 2-->
      <div class="remodal wow zoomIn" data-remodal-id="modal1">
          <button data-remodal-action="close" class="remodal-close"></button>
            <p class="info__modal__text">Для того, чтобы вызвать замерщика необходимо указать: свой email, действительный контактный телефон, 
                Имя и город, в котором и необходимо производить установку нашей мебели.
            </p>
            <p class="info__modal__text">
                Для того, чтобы начать заполнять анкету, необходимо кликнуть в левый верхний угол по кнопке <span class="color__text">"Вызвать замерщика"</span> <span class="warning__text">(если вы используете полную версию сайта)</span> или правый верхний <span class="warning__text">(если мобильную версию сайта)</span>.
            </p>
            <p class="info__modal__text">
            Все очень просто!
            </p>
          <%= image_tag('lisa.png', :alt => "lisa", :class => 'lisa__png' ) %>
      </div>
      
      <!--Модальное окно 3-->
      
            <div class="remodal wow zoomIn" data-remodal-id="modal2">
          <button data-remodal-action="close" class="remodal-close"></button>
            <p class="info__modal__text">
                На нашем сайте постоянно идет прирост новой и качественной мебели и чтобы вы ничего не пропустили, 
                желательно чтобы вы подписались на рассылку новостей, тем самым вы будете всегда в курсе всех событий!
            </p>
            <p class="info__modal__text">
                Для того, чтобы оформить подписку, необходимо спуститься вниз на главной странице, где находится заголовок <span class="color__text">"Оформить рассылку"</span>.
            </p>
            <%= image_tag('lisa2.png', :alt => "lisa", :class => 'lisa__png' ) %>
      </div>
      
            <!--Модальное окно 4-->
      
            <div class="remodal wow zoomIn" data-remodal-id="modal3">
          <button data-remodal-action="close" class="remodal-close"></button>
            <p class="info__modal__text">Если вас не заинтересовал наш сайт - значит вы не видели все интересные работы, которые были у нас собраны.
            </p>
            <p class="info__modal__text">
               Вам достаточно выбрать в верхнем горизонтальном меню необходимый пункт, для того чтобы открыть все интересующие вас работы или ввести в поиск слова, которые относятся к той или иной мебели.
            </p>
            <p class="info__modal__text">
            Очень простой и интуитивный интерфейс поможет с легкостью найти все необходимое.
            </p>
            <%= image_tag('lisa3.jpg', :alt => "lisa", :class => 'lisa__png' ) %>
      </div>
      
            <!--Модальное окно 5-->
      
            <div class="remodal wow zoomIn" data-remodal-id="modal4">
          <button data-remodal-action="close" class="remodal-close"></button>
            <p class="info__modal__text">
                С нами можно связаться по разному: через телефон или интернет.
            </p>
            <p class="info__modal__text">
                Если же вы выбрали второй пункт, то вам достаточно кликнуть по надписи с почтой и браузер автоматически перенаправит Вас на наш почтовый ящик.
            </p>
            <p class="info__modal__text">
            Там вам просто необходимо указать: Ваше имя, номер телефона и что вас интересует.
            </p>
        <%= image_tag('lisa4.jpg', :alt => "lisa", :class => 'lisa__png' ) %>
      </div>
      
            <!--Модальное окно 6-->
      
            <div class="remodal wow zoomIn" data-remodal-id="modal5">
          <button data-remodal-action="close" class="remodal-close"></button>
            <p class="info__modal__text">
                Наша организация <span class="color__text">работает более 15 лет</span>.
            </p>
            <p class="info__modal__text">
               Каждый наш заказ делается быстро, качественно и надежно. Еще не было случаев, когда мы не доделывали работу, либо происходили какие либо непредвиденные проблемы. И если они и случатся, то сразу же заменем бракованный товар или вернем вам деньги.
            </p>
            <p class="info__modal__text">
            С Уважением, King-Kitchen.
            </p>
        <%= image_tag('lisa5.png', :alt => "lisa", :class => 'lisa__png' ) %>
      </div>